@media screen and (max-width: 800px){
/* containers */

.m-right, .m-left, .m-center, .m-space-around,
.m-space-between, .m-space-even, .m-flex{
  display: flex;
}

.m-right{
  justify-content: flex-end;
}

.m-left{
  justify-content: flex-start;
}

.m-center{
  justify-content: center;
}

.m-space-around{
  justify-content: space-around;
}

.m-space-between{
  justify-content: space-between;
}

.m-space-even{
  justify-content: space-evenly;
}

/*  */

.m-reverse{
  flex-direction: row-reverse;
}

.m-list{
  flex-direction: column;        
}

.m-list.m-reverse{
  flex-direction: column-reverse;
}

.m-text-center{
  text-align: center;
}

.m-align-center{
  align-items: center;
}

.m-w1{width: 10%;}
.m-w2{width: 20%;}
.m-w3{width: 30%;}
.m-w4{width: 40%;}
.m-w5{width: 50%;}
.m-w6{width: 60%;}
.m-w7{width: 70%;}
.m-w8{width: 80%;}
.m-w9{width: 90%;}
.m-col, .m-w10{width: 100%;}

.m-h1{height: 10vh;}
.m-h2{height: 20vh;}
.m-h3{height: 30vh;}
.m-h4{height: 40vh;}
.m-h5{height: 50vh;}
.m-h6{height: 60vh;}
.m-h7{height: 70vh;}
.m-h8{height: 80vh;}
.m-h9{height: 90vh;}
.m-h10{height: 100vh;}

.m-fit{
  width: fit-content;
}

.m-hidden{
  display: none;
}

.m-gutter{
  margin: 3px 6px;
}

.m-wrap{
  flex-wrap: wrap;
}

.m-fixed{
  position: fixed;
}

.m-button-tray{
  position: absolute;
  margin-top: -10px;
}

.m-button-tray.m-right{
  right: 10px;
}

.m-y-scroll{
  overflow-y: auto;
}

.m-x-scroll{
  overflow-x: auto;
}

/* components */

/* tab-select */
.m-tab-select a:not(:first-child){
  border-left: 2px solid var(--light-shadow);
  padding: 0 8px;
}
.m-tab-select a:first-child{
  padding: 0 8px;
}
.m-tab-select a:not(.m-active), .m-tab-select:hover a{
  background-color: transparent;
  border-radius: 0;
}
.m-tab-select a:hover, .m-tab-select:not(:hover) a:focus, 
.m-tab-select:not(:hover) a.m-active{
  border-left: 2px solid transparent;
  padding: 6px 12px;
  margin: -10px;
  background-color: #f2f2f2;
  position: relative;
  border-radius: var(--minima-radius);    
}

/* menu */
.m-menu{
  width: 50px;
  height: 50px;
  background-color: white;
  position: relative;
  border-radius: 100%;
  box-shadow: 0 1px 1px 0 var(--shadow);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  cursor: pointer;
  animation: minima-mobile .3s;    
  display: inline-block;
  padding: 0;
}

.m-menu::before{
  position: absolute;
  width: 50px;
  text-align: center;
  top: 0;
  right: 0;
  line-height: 50px;
  content: "Menu";
  color: var(--minima-link);
}

.m-menu:focus, .m-menu:hover, .m-menu:active{
  outline: none;
  box-shadow: 0 3px 5px 0 var(--shadow);
}

.m-menu.m-active{
  background-color: white;
  min-width: 200px;
  height: auto;
  line-height: 28px;
  border-radius: var(--minima-radius);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  position: relative;
  animation: minima-mobile-active .3s;
}

.m-menu.m-active::before{
  content: "x";
  right: -5px;
  top: -5px;
  border-radius: 100%;
  background-color: #f2f2f2;
  box-shadow: 0 1px 1px 0 var(--shadow);
  color: rgba(0,0,0,0.6);
  width: 42px;
  height: 42px;
  line-height: 42px;
  font-weight: bold;
}

.m-menu a{
  display: none;
  width: -120px;
  margin: 10px auto;
  opacity: 0;
}

.m-menu.m-active a{
  display: block;
  opacity: 1;
  width: auto;
}
}
